{{>partials/header}}
{{#data}}

<h2>Usuários:</h2>
<form method="POST" action="/saveUser">
<input type="hidden" name="id" placeholder="Nome" value="{{id}}">
<input type="text" name="nome" placeholder="Nome" value="{{nome}}">
<input type="number" name="idade" placeholder="Idade" value="{{idade}}">
<input type="submit" value="{{valSubmit}}">

</form>
<ul>
    {{#users}}
        <li>{{nome}} - {{idade}} <a href="/{{id}}">Editar</a></li>
    {{/users}}
</ul>

<hr/>
<h2>Produtos</h2>
<ul>
    {{#list}}
        {{>partials/productItem}}
    {{/list}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>
{{/data}}
{{>partials/footer}}