{{>partials/header}}
{{#data}}

<h2>Usuários:</h2>
<form method="POST" action="/saveUser">
<input type="hidden" name="id" placeholder="Nome" value="{{id}}">
<input type="text" name="nome" placeholder="Nome" value="{{nome}}">
<input type="number" name="idade" placeholder="Idade" value="{{idade}}">
<input type="submit" value="{{valSubmit}}">

</form>
<ul>
    {{#users}}
        <li>{{nome}} - {{idade}} <a href="/{{id}}">Editar</a> <a href="/deleteUser/{{id}}">Excluir</a></li>
    {{/users}}
</ul>
<hr>
<h2>Pesquisar ou Adicionar usuário por nome:</h2>
<form method="GET" action="/{{nome}}">
    <input type="text" name="search" >
    <input type="submit" value="Pesquisar">
</form>
<h4>Resultado:</h4>
Nome:{{nomeDEdit}}<br>
Idade:{{idadeDEdit}}
{{/data}}
{{>partials/footer}}